*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    width: 30%;
    height: 100vh;
    background-color: #242424 ;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.5);
    display: flex;
    z-index: 200;
}

.menu .container-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .container-menu ul{
    margin-top: 5vh;
}

.menu .container-menu img{
    width: 160px;
    border-radius: 50%;
    transform: rotate(70deg);
    border: solid 3px white;
    margin-top: 12vh;
}

.menu .container-menu ul li{
    padding-top: 3vh;
    text-align: center;
}

.menu .container-menu ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    
}

