*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


/* container page */
.container-about{
    width: 70%;
    height: 100vh;
    background-color: #313131;
    /* z-index: -1; */
    overflow-y: hidden;
    overflow-x: hidden;
}

/* container-information */
.container-information{
    width: 85%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 20vh  auto;
    color: white;
    
    
}

/* information title */
.name-information{
    text-transform: uppercase;

}
.name-information h1{
    font-size: 80px;
    font-weight: 800;
}

.name-information h1 a{
    color: #21c25e;
}

.name-information p{
    font-size: 18px;
    font-weight: bold;
}

.name-information p a{
    color: #21c25e;
    
}



/* information text */

.general-information p{
    margin-top: 6vh;
    font-size: 19px ;
    line-height: 5vh;
}

.general-information p a{
    color: #21c25e;
    font-weight: bold;
}

/* contact icons */
.contact img{ 
    width: 50px;
    margin: 8vh 0 0 1.5vw;
}

