.container-skills{
    width: 70%;
    height: 100vh;
    background-color: #313131;    
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-skills::-webkit-scrollbar{
    width: 15px;
    padding: 100px 0;
}

.container-skills::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(214, 214, 214, 0.904)
}

.container-skills .skills .skill-ul{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 7vh auto;

}

.container-skills .skills h1{
    font-size: 60px;
    margin: 8vh 5vw;
    color: #21c25e;
}

.container-skills .skills .skill-ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-skills .skills .skill-ul li img{
    width: 90px;
    margin: 2vh 0;
}

.container-skills .skills .skill-ul li p{
    font-size: 30px;
}


/* 
    Knowledge
*/

.container-skills .conhecimento{
    margin-top: 15vh;
}

